<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="./static/style3.css">
    <link rel="icon" type="image/x-icon" href="./static/favicon.ico">
    <title>Friend Request Buttons</title>
</head>
<body>

    <div class="container">
        <div class="button-container">
            <div class="person">
                <div>Person 1</div>
                <button id="Send1" class="btn1">Send Friend Request</button>
            </div>
            <div class="person">
                <div>Person 2</div>
                <button id="Send2" class="btn2">Send Friend Request</button>
            </div>
            <div class="person">
                <div>Person 3</div>
                <button id="Send3" class="btn3">Send Friend Request</button>
            </div>
        </div>
    </div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/nodemailer@6/dist/nodemailer.min.js"></script>
<script src="./static/script.js"></script>
</body>
</html>
