<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Find friend</title>
    <link rel="stylesheet" href="./static/style.css">
    <link rel="icon" type="image/x-icon" href="./static/favicon.ico">
</head>
<body>
    <div class="findfriend">

        <h2>Find Friends</h2>
    </div>
    
    <div class="container" id="container">
        <div class="form-container sign-up-container">
            <form action="#">
                <h1>Join Community</h1>
                <!-- <div class="social-container">
                    <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
                    <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
                    <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
                </div> -->
                <!-- <span>or use your email for registration</span>
                <input type="text" placeholder="PRN" />
                <input type="email" placeholder="Email" />
                <input type="password" placeholder="Password" /> -->
                <button type="button" onclick="redirectToForm()">Fill Form</button>
            </form>
        </div>
        <div class="form-container sign-in-container">
            <!--<form action="#">-->
                
                <!-- <div class="social-container">
                    <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
                    <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
                    <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
                </div> -->
                <!-- <span>or use your account</span> -->
            <form action="/homepage" method="POST">
                <h1>Sign in</h1>

                <label for="email">Email:</label><br>
                <input type="email" id="email" name="email" placeholder="EMAIL"><br>
        
                <label for="password">Password:</label><br>
                <input type="password" id="password" name="password" placeholder="PASSWORD" required><br>
        

                <!--<input type="email" placeholder="EMAIL" />
                <input type="password" placeholder="PRN" />-->
                <a href="form.html">Forgot your password?</a>
                <button onclick="redirectToSignUpPage()" type="submit">Sign In</button>
            </form>
        </div>
        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-left">
                    <h1>Welcome Back!</h1>
                    <p>To keep connected with us please login with your personal info</p>
                    <button class="ghost" id="signIn">Sign In</button>
                </div>
                <div class="overlay-panel overlay-right">
                    <h1>Hello, Friend!</h1>
                    <p>Enter your personal details and start journey with us</p>
                    <button class="ghost" id="signUp">Sign Up</button>
                </div>
            </div>
        </div>
    </div>
    <script>
    const signUpButton = document.getElementById('signUp');
const signInButton = document.getElementById('signIn');
const container = document.getElementById('container');

function redirectToSignUpPage() {
    window.location.href = 'homepage.html';
}
 function redirectToForm(){
    window.location.href = 'googleform.html';
 }

signUpButton.addEventListener('click', () => {
    container.classList.add("right-panel-active");
});

signInButton.addEventListener('click', () => {
    container.classList.remove("right-panel-active");
});
    </script>
   
</body>
</html>